---
# - ~/Packages for manually installed tools (ZSH plugins & others)
- name: Create ~/Packages directory
  # TODO: add tags here?
  ansible.builtin.file:
    path: "{{ user_dir }}/Packages"
    state: directory
    mode: "0755"
# - ~/Projects for personal projects & lad-schemes.nvim
- name: Create ~/Projects directory
  ansible.builtin.file:
    path: "{{ user_dir }}/Projects"
    state: directory
    mode: "0755"
