---
# Setup kewlfft.aur & Install paru
- name: Create the `aur_builder` user
  become: true
  ansible.builtin.user:
    name: aur_builder
    create_home: true
    group: wheel

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: true
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: "aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    create: true
    mode: "0644"
    validate: "visudo -cf %s"

- name: Install paru using makepkg
  kewlfft.aur.aur:
    use: makepkg
    name: paru
    state: present

# Packages to install
- name: General
  become: true
  tags:
    - general
  community.general.pacman:
    name:
      - git
      - curl
      - wget
      - bottom
      - fastfetch
      - jq
      - eza
      - bat
      - difftastic
      - inter-font
      - playerctl
      - networkmanager
      - network-manager-applet
      - dateutils
      - pacman-contrib
      - wl-clipboard
      - wlr-randr
      - brightnessctl
    state: present

- name: Desktop Environment
  tags:
    - desktop-environment
  kewlfft.aur.aur:
    use: paru
    name:
      # hyprland + dependencies
      - hyprland
      - xdg-desktop-portal-hyprland
      - xdg-desktop-portal-gtk
      - xdg-utils
      - polkit-kde-agent
      - qt5-wayland
      - qt6-wayland
      - hyprpolkitagent
      # hyprland tools
      - hypridle
      - hyprlock
      - swww
    state: present

- name: Desktop Environment (AUR)
  tags:
    - desktop-environment
  kewlfft.aur.aur:
    use: paru
    aur_only: true
    name:
      - hyprshot
      - swaync
      - vicinae-bin
      - quickshell
      - matugen-bin

- name: Applications
  tags:
    - applications
  kewlfft.aur.aur:
    use: paru
    state: present
    name:
      - dolphin
      - firefox
      - gwenview
      - nwg-look
      - nwg-displays
      - pavucontrol

- name: Applications (AUR)
  tags:
    - applications
  kewlfft.aur.aur:
    use: paru
    state: present
    aur_only: true
    name:
      - zen-browser-bin

- name: Development Environment / Terminal
  tags:
    - development-environment
  kewlfft.aur.aur:
    use: paru
    name:
      - starship
      - zoxide
      - neovim
      - tree-sitter-cli
      - tmux
      - kitty
      - ttf-firacode-nerd
      - zsh
      - yazi
      - lazygit
      - github-cli
      - ripgrep
      - fzf
      - lua
      - luarocks
      - gcc
      - cmake
      - meson
      - ninja
      # yazi dependencies
      - ffmpegthumbnailer
      - ffmpeg
      - 7zip
      - unarchiver
      - jq
      - poppler
      - fd
      - ripgrep
      - fzf
      - imagemagick
      - xclip
      - wl-clipboard
      # TypeScript / JavaScript
      # - typescript
      # - pnpm
      - deno
      # Python
      - python
      - python-pip
      - uv
    state: present

- name: Development Environment / Terminal (AUR)
  tags:
    - development-environment
  kewlfft.aur.aur:
    use: paru
    aur_only: true
    state: present
    name:
      # yazi dep
      - resvg
      # fast node manager
      - fnm-bin
      - gowall
- name: Remove the 'aur_builder' user
  ansible.builtin.user:
    name: aur_builder
    state: absent
    remove: true
