---
# loop & symlink configs
- name: Create ~/.config
  ansible.builtin.file:
    path: ~/.config
    state: directory
    mode: "0755"

- name: Find .config files
  ansible.builtin.find:
    paths: "{{ playbook_dir }}/config"
    recurse: false
    file_type: any
    hidden: true
  register: dotfiles_config

- name: Symlink configs
  ansible.builtin.file:
    src: "{{ item.path }}"
    dest: "{{ user_dir }}/.config/{{ item.path | basename }}"
    state: link
  loop: "{{ dotfiles_config.files }}"
  loop_control:
    label: "{{ user_dir }}/.config/{{ item.path | basename }}"

- name: Symlink .zshenv to home directory
  ansible.builtin.file:
    src: "{{ playbook_dir }}/config/zsh/.zshenv"
    dest: "{{ user_dir }}/.zshenv"
    state: link
