@use "../variables" as v;

.audio-settings-window {
  min-width: 200px;

  scale {
    all: unset;
    padding-top: 4px;
    padding-bottom: 12px;
    /* border: 1px solid v.$red; */

    marks.top {
      mark {
        indicator {
          all: unset;
          min-width: 2px;
          min-height: 8px;
          background-color: v.$grey;
        }
      }
    }

    trough {
      all: unset;
      background-color: v.$one-bg-three;
      border-radius: 4px;

      fill {
        all: unset;
        background-color: v.$red;
        border: 1px solid v.$red;
      }

      highlight {
        all: unset;
        background-color: v.$white;
      }

      slider {
        all: unset;
        min-width: 3px;
        min-height: 7px;
        border-radius: 0px;
        background-color: v.$white;
        outline: 2px solid v.$lighter-black;
        border-radius: 4px;
        transform: scale(2.6);
      }
    }
  }
}
