@use "variables" as v;
@use "sass:color";

@use "widgets/local-info";
@use "widgets/audio-settings";
@use "create-utils";

* {
  font-family: "Inter", sans-serif;
}

button {
  all: unset;
  border-radius: v.$radius;
}

window.Bar {
  background: transparent;
  color: v.$white;
  font-weight: bold;

  > centerbox {
    background: v.$black;
    border-radius: v.$radius;
    margin: 8px 8px 0px 8px;
    padding: 4px 8px;
  }
}

/* base icon size */
image {
  -gtk-icon-size: 16px;

  &.icon-lg {
    -gtk-icon-size: 18px;
  }
}

.container {
  color: v.$white;
  background-color: v.$one-bg;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: v.$radius;

  & .min-w-64 {
    min-width: 60px;
  }
}

.btn {
  color: v.$white;
  background-color: v.$one-bg;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: v.$radius;
  transition: 300ms;

  &:hover {
    background-color: v.$one-bg-two;
  }

  &.blue {
    background-color: v.$blue;

    &:hover {
      background-color: v.$blue-light;
    }
  }

  &-icon {
    @extend .btn;
    padding: 6px;
  }

  &-icon.no-bg {
    @extend .btn-icon;
    background-color: transparent;

    &:hover {
      background-color: v.$one-bg-two;
    }
  }
}

/* ################# */
/* #### WIDGETS #### */
/* ################# */

/* #### Workspaces #### */

.workspaces {
  all: unset;
  background-color: v.$one-bg;
  border-radius: v.$radius;
  padding: 0px;
  margin: 0px 8px;

  button {
    all: unset;
    background-color: v.$one-bg;
    border-radius: v.$radius;
    margin: 0px;
    min-width: 28px;
    min-height: 28px;
    padding: 0px;
    font-weight: bold;
    transition: 250ms;

    &:hover {
      background-color: color.adjust(v.$white, $alpha: -0.9);
    }

    &:active {
      background-color: color.adjust(v.$white, $alpha: -0.8);
    }

    &.active,
    &.focused {
      background-color: color.adjust(v.$blue, $alpha: -0.7);

      &:hover {
        background-color: color.adjust(v.$blue, $alpha: -0.5);
      }
    }
  }

  label {
    all: unset;
    color: color.adjust(v.$white, $alpha: -0.4);
    transition: 200ms;
    font-size: 12px;
    padding: 0;
  }

  /* Active workspace but not focused */
  .active label {
    color: color.adjust(v.$white, $alpha: -0.2);
    border-color: v.$white;
  }

  /* Focused workspace */
  .focused label {
    color: v.$white;
    border-color: v.$blue;
  }
}

/* #### Media #### */

.media {
  @extend .container;
}
